<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885013092493-35n2upfivmu31oecsiuc597t73fll16k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885013092493-35n2upfivmu31oecsiuc597t73fll16k</string>
	<key>API_KEY</key>
	<string>AIzaSyBa3rfyufEbfoTQq9pX8BaOW4CIdv90s1c</string>
	<key>GCM_SENDER_ID</key>
	<string>885013092493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.peoplestownshuttle.app</string>
	<key>PROJECT_ID</key>
	<string>peoplestown-app</string>
	<key>STORAGE_BUCKET</key>
	<string>peoplestown-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885013092493:ios:003094bfe0bfa7e0e1eac4</string>
</dict>
</plist>